body{
    background-color: rgb(4, 103, 121);
}
li{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(235, 93, 93)
}
h1{
    color: aqua
}
h2{
    color: rgb(252, 14, 240)
}
h3{
    color: rgb(33, 218, 162)
}
.centralizar{
    text-align: center
}